div {
    background-color: #017501;
    color: aquamarine;
}

li{
    margin-left: 5%;
    display:inline-flex;
    border: black 1px double;
    padding: 1 3;
    background-color: aqua;
}

footer{

}

#id {
    background-color:green;
    height: 50px;
    width: 50px;
    border: thick;
    margin: 15px;
    padding: 10px;
    float-displace: line;
}

#mainMenu {
    display: inline-flex;

}