footer{
    background:silver;
}

li{
    padding: 2%
}

.centerDiv{
    margin: 0;
    display: inline-flex;
    justify-content: center;
}

.leftDiv{
    float: left;
    position: static;
    display: inline-flex;
}

.rightDiv{
    float: right;
    position: sticky;
    display: inline-flex;
}

.bottomDiv{
    align-self: end;
    position: static;
}

.topDiv{
    float: top;
    position: sticky;
}

.widthDiv{
    display: inline-flex;
    width: 100%;
    min-width: 750px;
}

.lengthAdjustable{
    height: 100%;
    justify-content: safe;
    overflow-y:auto;
}

.statColumn{
    width: 19%;
    height: 100%;
    text-align: left;
    float: left;
    padding: 3px;
    line-height: 14px;
}

.dataList{
    list-style: none;
    margin: 0px;
    padding-left: 5px;
    line-height: 14px
}

.descriptionColumn{
    width:24%;
    text-align:left;
    float: left;
}

.notesColumn{
    width: 54%;
    text-align: left;
    float: left;
    overflow-y: auto;
}

.inlineContainer{
    display:inline-flex;
    flex: auto;
    list-style: none;
}

.leftFloat{
    position: left;
    display: inline;
}

.inlineList{
    justify-content: center;
    flex: fit-content;
    float: left;
    display: inline-flex;
    list-style: none;
    margin: 0px 0px;
    padding-left: 0px;
}

#loginButton{
    font: helvitica;
    color: black;
    background-color: silver;
    height: 40px;
    width: 60px;
    margin: 5px 5px;
}

.dualPaneContent{
    /*display: inline-flex;*/
    justify-content: safe ;
}

.basicInfoSlider{
    width: 11%;
    min-width: 158px;
}

.creatureContent{
    width: 89%;
    min-width: 579px;
}

.inlinePane{
    float:left;
    /*flex: 0; !* additionally, equal width *!*/
    color: silver;
    padding: 5px;
    border: solid;
    border-width: 2px;
    border-color: silver;
    overflow-y: auto;
}

.header {
    position: static;
    text-align: center;
    color: silver;
    min-height: 50px;
    height: 3%;
    font-size: 40px;
    padding: 5px 0px;
    overflow: hidden;
    flex: auto;
    width:100%
}

.listSurround{
    background: rgba(250,250,250,0.1);
    border-style: ridge;
    border-color: azure;
    border-width: 2px;
    border-radius: 2px;
    padding: 3px;
    margin: 10px;
    text-decoration: none;
    flex: auto;
}

.currentSurround{
    background: rgba(250,250,250,0.5);
    border-style: inset;
    border-color: azure;
    border-width: 2px;
    border-radius: 2px;
    padding: 3px;
    margin: 10px;
    flex: auto;
}

.travelList{
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    color: silver;
    padding: 3px;
    margin: 3px;
    width: 150px;
    text-align: center;
    border-radius: 2px;
}

.footer{
    background:linear-gradient(darkslategray, silver, darkslategrey);
}

.createButton{
    font: helvitica;
    color: black;
    background-color: silver;
    height: 40px;
    margin: 2.5%;
    align-self: flex-end;
    width: 95%
}

.campaignTop{
    flex: fit-content;
    width: 100%;
    height: 450px;
    /*border: solid silver;*/
}

.campaignTopLeft {
    color: black;
    background: linear-gradient(to bottom right, #d0d0d5, #b0b0dc);
    border-color: silver;
    border-style: ridge;
    border-radius: 4px;
    width: 49%;
    height: 95%;
    margin: .5%;
    overflow-y: auto;
}

.campaignNotes{
    color: black;
    background: linear-gradient(to bottom right, #c0c0cc, #8080aa);
    border: inset silver;
    border-radius: 4px;
    width: 49%;
    height: 95%;
    margin: .5%;

}

.videoImage{
    padding-bottom: 60%;
    height: 95%;
    width: 95%;
}

.tileContainer{
    color: black;
    background: linear-gradient(to bottom right, #c0c0cc, #8080aa);
    border: inset silver;
    border-radius: 10px;
    width: 45%;
    margin: 2.2%;
    margin-top: 25px;
    min-height: 244px;
    position: relative;
    max-width: 700px;
    padding: 3px;
}

.tileContainer:before{
    /*content: "";*/
    display: block;
    padding-top: 60% 	/* initial ratio of 1:1*/
}

.internalTile{
    display: block;
    min-width: 345px;
    padding-left: 0px;
    padding-right: 0px;
}

.titleHighlight{
    background: linear-gradient(to bottom right, rgba(25,100,45,0.6), rgba(45,150,75,0.6));
    max-width: 100%;
    min-width: 100%;
    /*background-color: rgba(25,100,45,0.6);*/
}

.listItem{
    width: 90%;
    margin: 10px;

}

.tilesContainer{
    padding 2.5%;
    width: 100%;
    display: flex;
    justify-items: auto;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filterDropDown{
    width: 100px;
    margin: 3px 15px;
    background-color: lightgray;
}

.thinForm{
    margin: 0px;
}

.filterBar{
    background-color: rgba(100,125,125,0.8);
    min-height: 25px;
    color: black;
    text-align: center;
    width: 99%;
    min-width: 100px;
}

.filterListItem{
    display: inline-flex;
    flex-direction: row;
    white-space: nowrap;
    margin: 3px 15px;
}

#landingHeader{
    background: linear-gradient(to bottom right,#41ab4d,#004b00 );
    border-color: #419b4d;
    border-style: ridge;
    text-shadow: blue;
}

#landingBar{
    background: linear-gradient(to bottom right,#41ab4d,#004b00 );
    border-color: #419b4d;
    border-style: ridge;
}

#campaignBar{
    background:linear-gradient(to bottom right, darkblue, cadetblue);
    border-color: aqua;
    border-style: ridge;
}

#videoBar {
    background: linear-gradient(to bottom right,#41ab4d,#004b00 );
    border-color: #419b4d;
    border-style: ridge;
    text-shadow: blue;
}

#creatureBar{
    background: linear-gradient(to bottom right,#cc1436, #4c0000);
    border-color: #ac0016;
    border-style: ridge;
    text-shadow: green;
}

.creatureBackground{
    background: url(https://hoiabaciuforest.com/wp-content/uploads/2012/11/Truth-about-the-Hoia-Baciu-Forest-an-area-on-Earth-created-55000-years-ago-by-Atlanta.jpg);
    backgroundSize:100%;
    min-width: 755px;
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    border-color: #004b00;
    border-style: groove;
}
